
.w3eden .fetfont,
.w3eden .btn,
.w3eden .btn.wpdm-front h3.title,
.w3eden .wpdm-social-lock-box .IN-widget a span:last-child,
.w3eden #xfilelist .panel-heading,
.w3eden .wpdm-frontend-tabs a,
.w3eden .alert:before,
.w3eden .panel .panel-heading,
.w3eden .discount-msg,
.w3eden .panel.dashboard-panel h3,
.w3eden #wpdm-dashboard-sidebar .list-group-item,
.w3eden #package-description .wp-switch-editor,
.w3eden .w3eden.author-dashbboard .nav.nav-tabs li a,
.w3eden .wpdm_cart thead th,
.w3eden #csp .list-group-item,
.w3eden .modal-title {
font-family: Rubik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
text-transform: uppercase;
font-weight: 700;
}
.w3eden #csp .list-group-item {
text-transform: unset;
}


